@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    padding-top: 70px;
}

a {
	text-decoration-line: none; !important
}

.portfolio-about-me__margin {
	margin: 15px 15px 0 0;
}

.portfolio-services__header-font {
	font-size: 48px;
}

@media(min-width:480px) {

	.portfolio-jumbotron-ul__margin {
		margin: 50px 10px 0 -50px;
	}


	.portfolio-jumbotron-ul__padding {
		padding: 0 -50px 0 0;
	}
}